{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <th scope="col" class="text-start">Stock</th>
            <th scope="col" class="text-end">Shares</th>
            <th scope="col" class="text-end">Type</th>
            <th scope="col" class="text-end">Price</th>
            <th scope="col" class="text-end">Transacted</th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="text-start">{{ transaction.stock }}</td>
                    <td class="text-end">{{ transaction.shares }}</td>
                    <td class="text-end">{{ transaction.type }}</td>
                    <td class="text-end">{{ transaction.price | usd }}</td>
                    <td class="text-end">{{ transaction.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
